* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(151,62,224);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    justify-content: center;
    text-align: center;
}   

.main h1 {
    font-size: 55px;
    color: white;
}

.main h2 {
    display: inline-block;
    background: rgb(167, 227, 234);
    border-radius: 20px;
    margin: 6px;
    padding: 12px 5px;
}

button {
    margin: 6px;
    width: 12rem;
    padding: 12px 5px;
    border-radius: 20px;
    border: none;
    background-color: rgb(209,111,255);
    box-shadow: 1px 1px 3px black;
}

button:hover {
    cursor: pointer;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
}

.square {
    width: 180px;
    height: 170px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 1px 1px 3px black;
    margin: 10px;
}

.mole {
    background: url('Assets/mole.png');
    background-size: cover;
}

#pauseGame {
    display: none;
}

@media (max-width: 850px) {
    
    .square {
      width: 140px;
      height: 140px;
    }
  }
  
  @media (max-width: 675px) {
      
      .grid
      {
          width: 90%;
      }
    .square {
      width: 140px;
      height: 140px;
    }
  }
  
  @media (max-width: 540px) {
      .grid
      {
          width: 75%;
      }
    .square {
      width: 100px;
      height: 100px;
    }
  }
  
  @media (max-width: 480px) {
      .grid
      {
          width: 65%;
      }
    .square {
      width: 80px;
      height: 80px;
    }
  }